<div>
  <div class="form-container">
    <form #contactForm="ngForm">
      <div class="row">
        <div class="col-sm">
          <!-- Name -->
          <div class="form-group">
            <label for="newContactFormNameInput">Name</label>
            <input type="text" class="form-control" id="newContactFormNameInput" [(ngModel)]="contact.name" name="newContactFormNameInput" required #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                 class="alert alert-danger">
              <div *ngIf="name.errors?.['required']">
                Name is required.
              </div>
            </div>
          </div>
          <!-- Job Title -->
          <div class="form-group">
            <label for="newContactFormJobTitleInput">Job Title</label>
            <input type="text" class="form-control" id="newContactFormJobTitleInput" [(ngModel)]="contact.jobTitle" name="newContactFormJobTitleInput" required minlength="3" #jobTitle="ngModel">
            <div *ngIf="jobTitle.invalid && (jobTitle.dirty || jobTitle.touched)"
                 class="alert alert-danger">
              <div *ngIf="jobTitle.errors?.['minlength']">
                Job title must be at least 3 characters long.
              </div>
              <div *ngIf="jobTitle.errors?.['required']">
                Job title is required.
              </div>
            </div>
          </div>
          <!-- Company -->
          <div class="form-group">
            <label for="newContactFormCompanySelect">Company</label>
            <select class="form-control" id="newContactFormCompanySelect" name="newContactFormCompanySelect" [(ngModel)]="contact.company" required #company="ngModel">
              <option [ngValue]="company" *ngFor="let company of _companies">{{company.companyName}}</option>
            </select>
            <div *ngIf="company.invalid"
                 class="alert alert-danger">
              <div *ngIf="company.errors?.['required']">
                Company is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <!-- Address -->
          <div class="form-group">
            <label for="newContactFormAddressInput">Address</label>
            <input type="text" class="form-control" id="newContactFormAddressInput" [(ngModel)]="contact.address" name="newContactFormAddressInput" required minlength="15" #address="ngModel">
            <div *ngIf="address.invalid && (address.dirty || address.touched)"
                 class="alert alert-danger">
              <div *ngIf="address.errors?.['minlength']">
                Address must be at least 15 characters long.
              </div>
              <div *ngIf="address.errors?.['required']">
                Address is required.
              </div>
            </div>
          </div>
          <!-- Phone -->
          <div class="form-group">
            <label for="newContactFormPhoneInput">Phone</label>
            <input type="text" class="form-control" id="newContactFormPhoneInput" [(ngModel)]="contact.phoneNumber" name="newContactFormPhoneInput" required minlength="10" pattern="^[0-9]*$" #phone="ngModel">
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)"
                 class="alert alert-danger">
              <div *ngIf="phone.errors?.['minLength']">
                Phone must be at least 10 digits.
              </div>
              <div *ngIf="phone.errors?.['pattern']">
                Phone may only contain digits.
              </div>
              <div *ngIf="phone.errors?.['required']">
                Phone is required.
              </div>
            </div>
          </div>
          <!-- Email -->
          <div class="form-group">
            <label for="newContactFormEmailInput">Email</label>
            <input type="email" class="form-control" id="newContactFormEmailInput" [(ngModel)]="contact.emailAddress" name="newContactFormEmailInput" required email #email="ngModel">
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                 class="alert alert-danger">
              <div *ngIf="email.errors?.['email']">
                Email address must have a valid email format.
              </div>
              <div *ngIf="email.errors?.['required']">
                Email address is required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <!-- Last Date Contacted -->
          <div class="form-group">
            <label for="newContactFormDateInput">Last Date Contacted</label>
            <input type="date" class="form-control" id="newContactFormDateInput" [(ngModel)]="contact.lastDateContacted" name="newContactFormDateInput" required #date="ngModel">
            <div *ngIf="date.invalid && (date.dirty || date.touched)"
                 class="alert alert-danger">
              <div *ngIf="date.errors?.['required']">
                Last date contacted is required.
              </div>
            </div>
          </div>
          <!-- Comments -->
          <div class="form-group">
            <label for="newContactFormCommentsTextArea">Comments</label>
            <textarea class="form-control" id="newContactFormCommentsTextArea" rows="4" [(ngModel)]="contact.comments" name="newContactFormCommentsTextArea"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="button-container">
    <button type="button" class="btn btn-primary" [disabled]="contactForm.form.invalid" data-bs-toggle="modal" data-bs-target="#saveConfirmationModal">Save</button>
    <a class="btn btn-primary" role="button" [routerLink]="['']" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">Cancel</a>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="saveConfirmationModal" tabindex="-1" aria-labelledby="saveConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="saveConfirmationModalLabel">Confirm Saving Changes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure that you wish to proceed with saving your changes?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSave()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
