<div>
  <a class="btn btn-primary createContact" role="button" [routerLink]="['contact/new']" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">Create New Contact</a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">
          <span class="name">Name</span>
          <span class="jobTitle">(Job Title)</span>
        </th>
        <th scope="col">
          <span>Company</span>
        </th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Last Date Contacted</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts" (click)="onRowClick(contact)">
        <td>
          <span class="name">{{contact.name}}</span>
          <span class="jobTitle">{{contact.jobTitle}}</span>
        </td>
        <td>{{contact.company.companyName}}</td>
        <td>{{contact.phoneNumber}}</td>
        <td>{{contact.address}}</td>
        <td>{{contact.emailAddress}}</td>
        <td>{{contact.lastDateContacted | date: 'MMM-dd-yy'}}</td>
      </tr>
    </tbody>
  </table>

</div>
