.name {
  display: block;
}

.jobTitle {
  font-size: smaller;
}

.createContact {
    margin-bottom: 1rem;
}

th {
    vertical-align: top;
}

.table td{
    cursor: pointer;
}

.table tbody tr:hover {
  background-color: #1b6ec269;
}
